* { box-sizing: border-box }

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 56.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

[class*='col-'] {
    float: left;
    border: 1px solid gray;
}

.row:after {
    content: ' ';
    clear: both;
    display: block;
}

.container {
    height: auto;
    width: 100%;
    margin: auto;
}

/*.menu-height { height: 50px; }*/
/*.slider-height { height: 400px; }*/
/*.content-height { height: 400px; }*/
/*.big-footer-height { height: 250px; }*/
/*.footer-height { height: 30px; }*/


body {
    background-color: #f6f5f5;
    margin: 0px;
    padding: 0px;
}

ul{
    list-style-type: none;
}
a {
    text-decoration: none;
}

section {
    width: 100%;
    height: 95vh;
    background-image: url("#");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    padding: 0px 5%;
}

nav ul {
    display: flex;
}
nav ul li a {
    margin: 30px;
    font-family: myriad pro regular;
    color: #505050;
    font-size: 15px;
    font-weight: 700;
}
.logo {
    font-family: RoadTest;
    color: #000000;
    font-size: 22px;
}
.active {
    font-weight: bold;
    color: #2d2a2a;
}

.text-container p:nth-child(1){
    font-family: Calibri;
    font-weight: bold;
    color: #6d6d6d;
    font-size: 22px;
}
.text-container p:nth-child(2) {
    font-family: Calibri;
    font-weight: bold;
    letter-spacing: 1px;
    color: #1a1a1a;
    font-size: 60px;
	margin: 10px;
}
.text-container p:nth-child(3){
    font-family: "myriad pro regular";
    color: #403e3e;
    font-size: 30px;
	margin: 10px;
}
.text-container p {
    line-height: 0px;
    margin: 45px 0px 25px;
}
.text-container {
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%, -42%);
}
.text-container button{
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-family: Calibri;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: 0px 10px;
}
.hire-btn{
    border: 2px solid #373636;
    color: #373636;
}